html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  line-height: 1.45;
}

img {
  max-width: 100%;
  height: auto;
}

pre,
code {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-wrap: break-word;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  overflow-wrap: anywhere;
  word-wrap: break-word;
}

td,
th {
  padding: 0.25em;
  vertical-align: top;
}
